<!-- <div>
<h2>Product Details</h2>
<app-product-display></app-product-display>
</div> -->


    <!-- Navigation-->
    <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <!-- <a routerLink='/employee-form' routerLinkActive='active'>Employee-Form</a> -->
            <li class="sidebar-brand"><a href="#page-top">Grocery Hub</a></li>
            <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
            <li class="sidebar-nav-item"><a routerLink='/adminlogin'>Admin Login</a></li>
            <li class="sidebar-nav-item"><a routerLink='/customerlogin'>Customer Login</a></li>
            <li class="sidebar-nav-item"><a href="#categories">Categories</a></li>
            <li class="sidebar-nav-item"><a href="#specials">Specials</a></li>
            <li class="sidebar-nav-item"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1">The Grocery Hub</h1>
            <h3 class="mb-5"><em>Your one stop for all your daily needs!!</em></h3>
            <!-- <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a> -->
            <a class="btn btn-xl btn-dark" routerLink='/adminlogin'>Admin</a>
            <a class="btn btn-primary btn-xl" routerLink='/customerlogin'>Customer</a>
        </div>
    </header>
   
        <router-outlet (activate)="onActivate($event)"></router-outlet>
  
    <!-- Categories-->
    <section class="content-section bg-primary text-white text-center" id="categories">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Grocery Categories</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-apple-alt"></i></span>
                    <h4><strong>Fruits</strong></h4>
                    <p class="text-faded mb-0">Fresh fruit daily to keep you healthy!</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-carrot"></i></span>
                    <h4><strong>Vegetables</strong></h4>
                    <p class="text-faded mb-0">Vitamin packed super-foods!</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/1D809F/external-milk-smart-farm-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/></span>
                    <h4><strong>Dairy</strong></h4>
                    <p class="text-faded mb-0">
                        Calcium rich for your bone health!                       
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-bread-slice"></i></span>
                    <h4><strong>Bakery</strong></h4>
                    <p class="text-faded mb-0">Enery rich carbs to keep you going!</p>
                </div>
            </div>
        </div>
    </section>
   
    <!-- Specials-->
    <section class="content-section" id="specials">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">On Sale Now</h3>
                <h2 class="mb-5">Shop Specials</h2>
            </div>
            <div class="row gx-0">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Cashews</div>
                                <p class="mb-0">Crunchy cashews to take a healthy snack</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../assets/sale1.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Onions</div>
                                <p class="mb-0">Flavourful Onions perfect for your curries</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../assets/onions.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Strawberries</div>
                                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on
                                    top!</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../assets/sale3.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Pasta</div>
                                <p class="mb-0">Perfect comfort food on a lazy day</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../assets/sale4.jpg" alt="..." />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="content-section bg-primary text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">Customer Satisfaction everyday.</h2>
            <!-- <a class="btn btn-xl btn-light me-4" href="#!">Click Me!</a>
            <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a> -->
        </div>
    </section>
   
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container px-4 px-lg-5">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!"><i
                            class="icon-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!"><i
                            class="icon-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; Your Website 2021</p>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

   
    <!-- <button onclick="test()">CLICK</button> -->
    <script src="../assets/js/scripts.js"></script>
